.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

.navbar:active {
    scale: 0.8;
}

.icon {
    font-size: 2rem;
    color: #6900ff;
}

.purple {
    color: #6900ff;
}

a {
    text-decoration: none;
}